<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{index :: head}"></head>

<body>
<head th:insert="~{index :: navbar}"></head>

<div class="vh-100">
    <br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Email o password non valide</div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-success">Hai effettuato il logout.</div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Modulo di Login</h2>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" method="post" role="form" th:action="@{/login}">
                            <div class="form-group mb-3">
                                <label class="control-label">Email</label>
                                <input class="form-control" id="username" name="username"
                                       placeholder="Inserisci email"
                                       type="text"/>
                            </div>
                            <div class="form-group mb-3">
                                <label class="control-label">Password</label>
                                <input class="form-control" id="password" name="password" placeholder="Inserisci password"
                                       type="password"/>
                            </div>
                            <div class="form-group mb-3">
                                <button class="btn btn-primary" type="submit">Invia</button>
                                <span>Non registrato?
                                        <a th:href="@{/register}">Registrati qui</a>
                                    </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<head th:insert="~{index :: footer}"></head>

<script th:replace="~{index :: bootstrapScript}"></script>
</body>
</html>