<!DOCTYPE html>
<html lang="it" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<!-- HEAD -->
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" rel="stylesheet">

    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css"
          integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg=="
          referrerpolicy="no-referrer" rel="stylesheet"/>

    <title th:text="${title}"></title>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Aulab Chronicle</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/articles/create}">Crea articolo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Tutti gli articoli</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="d-flex">
                        <a class="nav-link" href="/admin/dashboard">Dashboard admin</a>
                        <div class="mt-1" th:if="${careerRequests > 0}">
                            <i class="fas fa-bell fa-1 pt-2"></i>
                            <span class="badge rounded-pill bg-danger text-white px-1"
                                  th:text="${careerRequests}"></span>
                        </div>
                    </div>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_REVISOR')">
                    <div class="d-flex">
                        <a class="nav-link" href="/revisor/dashboard">Dashboard revisor</a>
                        <div class="mt-1" th:if="${articlesToBeRevised > 0}">
                            <i class="fas fa-bell fa-1 pt-2"></i>
                            <span class="badge rounded-pill bg-danger text-white px-1"
                                  th:text="${articlesToBeRevised}"></span>
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       id="navbarDropdown" role="button">
                        Accesso
                    </a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <li sec:authorize="isAnonymous()"><a aria-current="page" class="dropdown-item"
                                                             th:href="@{/register}">Register</a></li>
                        <li sec:authorize="isAnonymous()"><a aria-current="page" class="dropdown-item"
                                                             th:href="@{/login}">Login</a></li>
                        <li sec:authorize="isAuthenticated()"><a aria-current="page" class="dropdown-item"
                                                                 th:href="@{/logout}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <div sec:authorize="isAuthenticated()"
                 th:text="'Benvenuto ' + ${#authentication.principal.fullname} + ' - ' + ${#authentication.principal.authorities[0].authority.replace('ROLE_', '')}">
                Benvenuto
            </div>
        </div>
    </div>
</nav>

<!-- FOOTER -->
<footer class="bg-dark text-white pt-4" th:fragment="footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4 mb-3">
                <h5><a class="text-white text-decoration-none" href="/">Aulab IT</a></h5>
            </div>

            <div class="col-md-4 mb-3 text-end">
                <h5>Lavora con noi</h5>
                <a class="btn btn-primary" th:href="@{/operations/career/request}">Richiedi</a>
            </div>
        </div>

        <div class="text-center py-3 border-top border-secondary">
            <p class="mb-0">&copy; 2026 The Aulab Chronicle. Tutti i diritti riservati.</p>
        </div>
    </div>
</footer>

<script crossorigin="anonymous" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        th:fragment="bootstrapScript"></script>
</body>
</html>